[Unit]
Description=Syncthing service
After=network.target

[Service]
User=syncthing
Group=syncthing
ExecStart=/usr/bin/syncthing
Restart=on-abort

[Install]
WantedBy=multi-user.target
