# PyCharm
.idea

# ansible storage
fetch

# Terraform
.terraform
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

vps-instances.tf

# Secrets
secrets/ssh/*
secrets/*
!secrets/*.example
