# Environments
venv/

# PyCharm
.idea

# ansible storage
fetch

# Terraform
tf/.terraform
tf/.terraform.tfstate.lock.info
tf/terraform.tfstate
tf/terraform.tfstate.backup
tf/.terraform.lock.hcl
tf/modules.tf

# Secrets
secrets/ssh/*
secrets/*
!secrets/*.example
