resource "digitalocean_ssh_key" "laptop" {
  name       = "Laptop"
  public_key = file("secrets/ssh/laptop.id_rsa.pub")
}
resource "digitalocean_ssh_key" "workstation" {
  name       = "Workstation"
  public_key = file("secrets/ssh/workstation.id_rsa.pub")
}
resource "vultr_ssh_key" "laptop" {
  name       = "Laptop"
  ssh_key = file("secrets/ssh/laptop.id_rsa.pub")
}
resource "vultr_ssh_key" "workstation" {
  name       = "Workstation"
  ssh_key = file("secrets/ssh/workstation.id_rsa.pub")
}

# Droplets
resource "digitalocean_droplet" "droplet01" {
    image = "ubuntu-20-04-x64"
    name = "droplet01"
    region = "ams3"
    size = "2gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet02" {
    image = "ubuntu-20-04-x64"
    name = "droplet02"
    region = "sfo2"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet03" {
    image = "ubuntu-20-04-x64"
    name = "droplet03"
    region = "nyc1"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet04" {
    image = "ubuntu-20-04-x64"
    name = "droplet04"
    region = "sgp1"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet05" {
    image = "ubuntu-20-04-x64"
    name = "droplet05"
    region = "lon1"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet06" {
    image = "ubuntu-20-04-x64"
    name = "droplet06"
    region = "fra1"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet07" {
    image = "ubuntu-20-04-x64"
    name = "droplet07"
    region = "tor1"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_droplet" "droplet08" {
    image = "ubuntu-20-04-x64"
    name = "droplet08"
    region = "blr1"
    size = "1gb"
    ssh_keys = [digitalocean_ssh_key.laptop.fingerprint, digitalocean_ssh_key.workstation.fingerprint]
}
resource "digitalocean_project" "playground" {
  name        = "playground"
  environment = "Development"
  resources   = [digitalocean_droplet.droplet01.urn, digitalocean_droplet.droplet02.urn, digitalocean_droplet.droplet03.urn, digitalocean_droplet.droplet04.urn, digitalocean_droplet.droplet05.urn, digitalocean_droplet.droplet06.urn, digitalocean_droplet.droplet07.urn, digitalocean_droplet.droplet08.urn]
}

data "vultr_region" "region" {
  filter {
    name   = "name"
    values = ["Amsterdam"]
  }
}
data "vultr_os" "os" {
  filter {
    name   = "name"
    values = ["Ubuntu 20.04 x64"]
  }
}
data "vultr_plan" "plan" {
  filter {
    name   = "price_per_month"
    values = ["5.00"]
  }

  filter {
    name   = "ram"
    values = ["1024"]
  }
}
resource "vultr_server" "instance01" {
  hostname = "instance01"
  region_id = data.vultr_region.region.id
  plan_id = data.vultr_plan.plan.id
  os_id = data.vultr_os.os.id
  ssh_key_ids = [vultr_ssh_key.laptop.id, vultr_ssh_key.workstation.id]
  notify_activate = false
}
