- name: Install Prerequisites
  apt:
    name: aptitude
    update_cache: yes
    state: latest
    force_apt_get: yes

# Sudo Group Setup
- name: Make sure we have a 'wheel' group
  group:
    name: wheel
    state: present

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^%wheel'
    line: '%wheel ALL=(ALL) NOPASSWD: ALL'
    validate: '/usr/sbin/visudo -cf %s'

# User + Key Setup
- name: Create a new regular user with sudo privileges
  user:
    name: "{{ create_user }}"
    state: present
    groups: wheel
    append: true
    create_home: true
    shell: /bin/bash

- name: Set authorized key for remote user
  authorized_key:
    user: "{{ create_user }}"
    state: present
    key: "{{ copy_local_key }}"

- name: Remove root login permission
  lineinfile:
    path: /etc/ssh/sshd_config
    state: present
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin prohibit-password'

- name: Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    state: present
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'

- name: Disable empty password permission
  lineinfile:
    path: /etc/ssh/sshd_config
    state: present
    regexp: '^#?PermitEmptyPasswords'
    line: 'PermitEmptyPasswords no'

# Install Packages
- name: Update apt
  apt: update_cache=yes

- name: Install required system packages
  apt:
    name: "{{ sys_packages }}"
    state: latest

- include_tasks: ufw.yml
