---
create_user: "{{ lookup('env','USER') }}"
copy_local_key: "${ trimspace(ssh_public_key) }"

ca_email: "${ admin_email }"

admin_password: "${ admin_password }"

duckdns_token: "${ duckdns_token }"

enable_portainer: ${ stacks_portainer }
enable_swarmpit: ${ stacks_swarmpit }
enable_swarmprom: ${ stacks_swarmprom }

domain_name: "${ domain_name }"
