[vpn_mesh]
%{ for index, ipv4 in values(all-instances) ~}
${keys(all-instances)[index]} vpn_ip=${cidrhost("10.0.0.0/16", index + 1)}
%{ endfor ~}

[entrypoints]
%{ for index, hostname in entrypoints ~}
${ hostname }${ index <= length(duckdns-subdomains) ? format(" duckdns_subdomain=%s", duckdns-subdomains[index]) : "" }
%{ endfor ~}

[glusterpool]
%{ for hostname in glusterpool ~}
${ hostname }
%{ endfor ~}

[managers]
%{ for index, hostname in docker-managers ~}
${ hostname }${ index == 0 ? " swarm_labels=\"{'swarmpit.db-data': 'true', 'swarmpit.influx-data': 'true'}\"" : "" }
%{ endfor ~}

[workers]
%{ for hostname in docker-workers ~}
${ hostname }
%{ endfor ~}

[swarm:children]
managers
workers
