[vultr]
%{ for index, ipv4 in values(instances) ~}
${keys(instances)[index]} ansible_host=${ ipv4 }
%{ endfor ~}

[vultr:vars]
ansible_ssh_user=root
wan_interface=enp1s0
ansible_python_interpreter=/usr/bin/python3
swarm_labels="{'provider': 'vultr'}"
