// Host instances
do_instance_count = 0
oci_instance_count = 0
vultr_instance_count = 0

// On-premise instances
prem_instances = {
//  "prem-instance-01" = "xxx.xxx.xxx.xxx"
//  "prem-instance-02" = "xxx.xxx.xxx.xxx"
}

// Domains
domain_name = "my-domain.com"
duckdns_subdomains = [
//  "my-duckdns-subdomain-1",
//  "my-duckdns-subdomain-2",
//  "my-duckdns-subdomain-3",
//  "my-duckdns-subdomain-4",
//  "my-duckdns-subdomain-5",
]

// Swarm settings
admin_password = ""
admin_email = ""
user_name = ""
user_password = ""
ssh_public_key_path = "~/.ssh/id_rsa.pub"

// Stacks
stacks_portainer = true
stacks_swarmpit = false
stacks_swarmprom = false
stacks_tests = false
