### On-premise instances
prem_instances = {
//  "prem-instance-01" = "xxx.xxx.xxx.xxx"
//  "prem-instance-02" = "xxx.xxx.xxx.xxx"
}

### Provider instances
digitalocean_instances = [
//  ["s-1vcpu-1gb",   "ams3"],  # Amsterdam
//  ["s-2vcpu-2gb",   "lon1"],  # London
//  ["s-2vcpu-4gb",   "fra1"],  # Frankfurt
//  ["s-2vcpu-8gb",   "sgp1"],  # Singapore
//  ["g-2vcpu-8gb",   "tor1"],  # Toronto
//  ["g-8vcpu-16gb",  "sfo3"],  # San Fransisco
//  ["c-2-4gib",      "nyc3"],  # New York
//  ["m-2vcpu-16gb",  "blr1"],  # Bangalore
]
oraclecloud_instances = [
//  "VM.Standard.E2.1.Micro",  # Zurich
//  "VM.Standard.E2.1.Micro",  # Zurich
]
vultr_instances = [
//  ["vc2-1c-1gb", "ams"],  # Amsterdam
//  ["vc2-1c-1gb", "lhr"],  # London
//  ["vc2-1c-1gb", "fra"],  # Frankfurt
//  ["vc2-1c-1gb", "cdg"],  # Paris
//  ["vc2-1c-1gb", "nrt"],  # Tokyo
//  ["vc2-1c-1gb", "icn"],  # Seoul
//  ["vc2-1c-1gb", "sgp"],  # Singapore
//  ["vc2-1c-1gb", "yto"],  # Toronto
//  ["vc2-1c-1gb", "mia"],  # Miami
//  ["vc2-1c-1gb", "sjc"],  # Silicon Valley
//  ["vc2-1c-1gb", "ewr"],  # New Jersey
//  ["vc2-1c-1gb", "ord"],  # Chicago
//  ["vc2-1c-1gb", "dfw"],  # Dallas
//  ["vc2-1c-1gb", "sea"],  # Seattle
//  ["vc2-1c-1gb", "lax"],  # Los Angeles
//  ["vc2-1c-1gb", "atl"],  # Atlanta
//  ["vc2-1c-1gb", "syd"],  # Sydney
]
# Be mindfull that TransIP charges at minimum a monthly rate for every instance creation.
# It's better to create instances on the TransIP control-panel and insert the names into transip_instance_names below
transip_instances = [
//  "vps-bladevps-x1",  # Amsterdam
]

### Existing Transip instances
existing_transip_instances = [
//  "example"
]

### Domains and subdomains

# A CNAME will be added to the managed domains to allow access to swarm services, eg.: *.swarm CNAME @
services_subdomain = "swarm"

# Domains list below will be configured to allow access to the swarm services, through the subdomain configure above
# root and www will not be configured. For domains in the manual_domains list, a CNAME needs to be added manually to the
# DNS records.
manual_domains = [
//  "my-domain1.com",
]
cloudflare_domains = [
//  "my-domain2.com",
]
transip_domains = [
//  "my-domain3.com",
]

# Duckdns subdomains
duckdns_subdomains = [
//  "my-duckdns-subdomain-1",
//  "my-duckdns-subdomain-2",
//  "my-duckdns-subdomain-3",
//  "my-duckdns-subdomain-4",
//  "my-duckdns-subdomain-5",
]

### Swarm settings
project_name        = "Swarm playground"
admin_password      = ""
admin_email         = ""
user_name           = ""
user_password       = ""
ssh_public_key_path = "~/.ssh/id_rsa.pub"

### Manager nodes will be spread out across instances prioritizing the following providers in the given order
manager_providers = [
  "onpremise",
  "digitalocean",
  "oraclecloud",
  "transip",
  "vultr",
]

### Maximum amount of manager nodes in the swarm
manager_count = 3

### Entrypoints will be spread out across instances prioritizing the following providers in the given order
entrypoint_providers = [
  "digitalocean",
  "oraclecloud",
  "transip",
  "vultr",
  "onpremise",
]
### Stacks
stacks_portainer = true
stacks_swarmpit  = false
stacks_swarmprom = false
stacks_tests     = false
