### On-premise instances
prem_instances = {
//  "prem-instance-01" = "xxx.xxx.xxx.xxx"
//  "prem-instance-02" = "xxx.xxx.xxx.xxx"
}

### Provider instances
do_instance_count = 0
oci_instance_count = 0
vultr_instance_count = 0
//transip_instance_count = 0
# Be mindfull that TransIP charges at minimum a monthly rate for every instance creation.
# It's better to create instances on the TransIP web-interface and insert the names into transip_instance_names

### Existing Transip instances
transip_instance_names = [
//  "example"
]

### Domains and subdomains

# A CNAME will be added to the managed domains to allow access to swarm services, eg.: *.swarm CNAME @
services_subdomain = "swarm"

# Domains list below will be configured to allow access to the swarm services, through the subdomain configure above
# root and www will not be configured. For domains in the manual_domains list, a CNAME needs to be added manually to the
# DNS records.
manual_domains = [
//  "my-domain1.com",
]
cloudflare_domains = [
//  "my-domain2.com",
]
transip_domains = [
//  "my-domain3.com",
]

# Duckdns subdomains
duckdns_subdomains = [
//  "my-duckdns-subdomain-1",
//  "my-duckdns-subdomain-2",
//  "my-duckdns-subdomain-3",
//  "my-duckdns-subdomain-4",
//  "my-duckdns-subdomain-5",
]

### Swarm settings
project_name        = "Swarm playground"
admin_password      = ""
admin_email         = ""
user_name           = ""
user_password       = ""
ssh_public_key_path = "~/.ssh/id_rsa.pub"

### Manager nodes will be spread out across instances prioritizing the following providers in the given order
manager_providers = [
  "onpremise",
  "digitalocean",
  "oraclecloud",
  "transip",
  "vultr",
]
### Maximum amount of manager nodes in the swarm
manager_count = 3

### Entrypoints will be spread out across instances prioritizing the following providers in the given order
entrypoint_providers = [
  "digitalocean",
  "oraclecloud",
  "transip",
  "vultr",
  "onpremise",
]

### Maximum amount of entrypoints in the swarm
entrypoint_count = 2

### Stacks
stacks_portainer = true
stacks_swarmpit  = false
stacks_swarmprom = false
stacks_tests     = false
