### Cloudflare
cloudflare_api_token              = ""

### Digital Ocean
do_token                          = ""

### DuckDNS
duckdns_token                     = ""

### Oracle Cloud Infrastructure
oci_user_ocid                     = ""
oci_api_key_fingerprint           = ""
oci_tenancy_ocid                  = ""
oci_region                        = ""
oci_api_private_key_path          = "../secrets/oci/oci_api_key.pem"
oci_compartment_ocid              = ""
oci_free_tier_availability_domain = ""

### TransIP
transip_account_name              = ""
transip_private_key_path          = "../secrets/transip/transip_api_key.pem"

### Vultr
vultr_token                       = ""
