[servers]
droplet01 wan_interface=eth0

[vpn_mesh]
droplet01 vpn_ip=10.0.0.1

[glusterpool]
droplet01
droplet02

[entrypoints]
droplet01 duckdns_domain=my-duckdns-subdomain1
droplet02 duckdns_domain=my-duckdns-subdomain2
droplet03 duckdns_domain=my-duckdns-subdomain3

[managers]
droplet01 swarm_labels="{'portainer-frontend': 'true', 'swarmpit.db-data': 'true', 'swarmpit.influx-data': 'true'}"
droplet02

[workers]
instance01

[swarm:children]
managers
workers
entrypoints

[swarm:vars]
domain_name=my-domain.com

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_user=root
