[servers]
droplet01 wan_interface=eth0

[tinc_vpn_mesh]
droplet01 vpn_ip=10.0.0.1

[entrypoints]
droplet01 duckdns_domain=my-duckdns-subdomain
droplet02
droplet03
droplet04

[docker_swarm_manager:vars]
domain_name=my-duckdns-subdomain.duckdns.org

[docker_swarm_manager]
droplet01 swarm_labels="{'portainer-frontend': 'true', 'swarmpit.db-data': 'true', 'swarmpit.influx-data': 'true'}"
droplet02
instance01

[docker_swarm_worker]

[docker_swarm:children]
docker_swarm_manager
docker_swarm_worker
entrypoints

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_user=root
